In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

import pandas as pd

In [2]:
df = pd.read_csv("toyota.csv")

display(df.head(10))
print(df.shape)

   model  year  price transmission  mileage fuelType   mpg  engineSize
0   GT86  2016  16000       Manual    24089   Petrol  36.2         2.0
1   GT86  2017  15995       Manual    18615   Petrol  36.2         2.0
2   GT86  2015  13998       Manual    27469   Petrol  36.2         2.0
3   GT86  2017  18998       Manual    14736   Petrol  36.2         2.0
4   GT86  2017  17498       Manual    36284   Petrol  36.2         2.0
5   GT86  2017  15998       Manual    26919   Petrol  36.2         2.0
6   GT86  2017  18522       Manual    10456   Petrol  36.2         2.0
7   GT86  2017  18995       Manual    12340   Petrol  36.2         2.0
8   GT86  2020  27998       Manual      516   Petrol  33.2         2.0
9   GT86  2016  13990       Manual    37999   Petrol  36.2         2.0

(6738, 8)

In [3]:
print(df.columns)

Index(['model', 'year', 'price', 'transmission', 'mileage', 'fuelType', 'mpg',
       'engineSize'],
      dtype='object')

In [5]:
features = ['mileage', 'year', 'mpg', 'engineSize']
target = ['price']

X = df[features]
y = df[target]

print(X.shape, y.shape)

(6738, 4) (6738, 1)

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(5390, 4) (1348, 4) (5390, 1) (1348, 1)

In [9]:
model=LinearRegression()
model=model.fit(X_train,y_train)

In [12]:
y_pred=model.predict(X_test)
print(y_pred)

[[27407.44540444]
 [ 1820.42233369]
 [12789.52381225]
 ...
 [14274.08028688]
 [ 7801.22235617]
 [ 8820.8267291 ]]

In [13]:
print(y_test)

      price
381   37440
2476   4159
2855  10600
2018   8995
2185  11000
...     ...
4715  10800
5374   7495
1027  10790
2802   9991
3789   8298

[1348 rows x 1 columns]

In [14]:
RMSE = mean_squared_error(y_test, y_pred, squared=False)
print(RMSE)

3152.370815187324